{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jquery": true
    },
    "rules": {
        "max-len": [
            1,
            120,
            2,
            {
                "ignoreComments": true
            }
        ]
    },
    "extends": "standard"
}